<mat-nav-list>
    <div>
        <a mat-list-item [routerLink]="['/users/grid']">
            <mat-icon>face</mat-icon>Потребители
        </a>
        

      <a mat-list-item [routerLink]="['/users/learningMatTable1']">
        <mat-icon>library_books</mat-icon>Learning - MatTable1
      </a>
      
      <a mat-list-item [routerLink]="['/users/learningMatTable2']">
        <mat-icon>library_books</mat-icon>Learning - MatTable dynamic read/write
      </a>
   
      
    </div>
</mat-nav-list>