<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>INSYS</span>
    <div class="mainButton">
        <button mat-icon-button class="">
      Нова Услуга
    </button>
        <button mat-icon-button class="example-icon">
      Друг Бутон
    </button>
        <button mat-icon-button class="example-icon">
      Друг Бутон
    </button>
    </div>
    <div class="logoutButton">
        <button mat-icon-button class="">
          Logout:
        </button>
        <span>Username</span>
    </div>
</mat-toolbar>