.wrapper {
    width: 80%;
    margin: 10px 10%;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

ng-container .edit {
    text-transform: uppercase;
}

.filter {
    text-align: left;
    font-size: 18px;
    display: inline;
    margin: 10px 30px;
}

.autoComplete,
.form {
    display: inline;
    font-size: 14px;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

th:checked {
    background: red;
}

th {
    padding: 0px 10px;
}