<div class="wrapper">
    <mat-tab-group>
        <mat-tab label="Услуги">
            <section>
                <div class="filter">
                    <mat-form-field appearance="standard">
                        <mat-label>Търсене</mat-label>
                        <input matInput (keyup)="applyFilter($event)" #input>
                    </mat-form-field>
                </div>
                <div class="autoComplete">
                    <form class="form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Артикул</mat-label>
                            <input type="text" placeholder="Избери Артикул" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of options" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
            </section>





            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

                <!-- checkbox -->
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="warn" (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" 
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox color="warn" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" 
                        [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <!-- name -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                        Name
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>


                <!-- username -->
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by username">
                        Username
                    </th>
                    <td mat-cell *matCellDef="let user "> {{user.username}} </td>
                </ng-container>

                <!-- email -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
                        Email
                    </th>
                    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>
                active
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef>
                        Active
                    </th>
                    <td mat-cell *matCellDef="let user">
                        <div *ngIf="user.isActive">
                            <button (click)="checkIsActive(user.id)"><mat-icon>check_circle</mat-icon></button>
                        </div>

                        <div *ngIf="!user.isActive">
                            <button (click)="checkIsActive(user.id)"><mat-icon>cancel</mat-icon></button>
                        </div>
                    </td>
                </ng-container>
                <!-- input -->
                <ng-container matColumnDef="input">
                    <th mat-header-cell *matHeaderCellDef>Input</th>
                    <td mat-cell *matCellDef="let element">
                        <form class="form-input">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Input field</mat-label>
                                <input matInput placeholder=" ">
                            </mat-form-field>
                        </form>
                    </td>
                </ng-container>
                <!-- edit -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>
                        Edit
                    </th>
                    <td mat-cell *matCellDef="let user">
                        <button (click)="edit(user)"><mat-icon>edit</mat-icon></button>
                    </td>
                </ng-container>
                <!-- delete -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>
                        Delete
                    </th>
                    <td mat-cell *matCellDef="let user">
                        <button (click)="openDialog(user.id)"><mat-icon>delete</mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </mat-tab>
        <mat-tab label="Линии">Content 2</mat-tab>
        <mat-tab label="Артикул">Content 3</mat-tab>
    </mat-tab-group>


</div>