<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" (click)="closeSidenav()">
        <app-aside></app-aside>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (onToggleSidenav)=" sidenav.toggle() "></app-header>
        <div id="maincontent">        
        <main >
            <router-outlet>
            </router-outlet>
        </main>
        </div>
        <app-footer id="footer" class="mat-accent"></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>