
  .msac-colors {
    background-color: var(--primary-color);
    color: white;
  }

  .chip-list {
    width: 100%;
  }

.custom-date-class-orange {
    background: orange;
    border-radius: 100%;
  }