
  .example-form-field {
    margin: 0 8px 16px 0;
  }
  
  .msac-colors {
    background-color: var(--primary-color);
    color: white;
  }

  .chip-list {
    width: 100%;
  }

.custom-date-class-orange {
    background: orange;
    border-radius: 100%;
}
.custom-orange {
  background: orange;
}


  