.mat-column-checkbox {
    flex: 0 0 3%;
}
.mat-column-id {
    flex: 0 0 5%;
}
.mat-column-editSingleRow .mat-column-menu .mat-column-tabLines{
    flex: 0 0 10%;
}

.highlight{
    background: #a1b4a2; /* green */
}



